<key>com.apple.security.app-sandbox</key>
<true/>
<key>com.apple.security.files.user-selected.read-write</key>
<true/>
<key>com.apple.security.files.downloads.read-write</key>
<true/>
<key>com.apple.security.files.documents.read-write</key>
<true/>
<key>com.apple.security.files.library.read-write</key>
<true/>
<key>com.apple.security.files.system.read-write</key>
<true/>
<key>com.apple.security.network.client</key>
<true/>