name: macOS Build (Draft)

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: false  # DISABLED TEMPORARILY
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.0'

      - name: Build CleanME
        run: xcodebuild -scheme "CleanME" -sdk macosx -configuration Release build

      - name: Run Unit Tests
        run: xcodebuild test -scheme "CleanME" -sdk macosx -destination 'platform=macOS'
